body {
	max-resolution: 0;
	font-family: serif;
	background-color:grey;

	font-size: 20px;
	line-height: 1.5;
}

.container{
	width: 100%;
	min-width: 1200px;
	margin: 0 auto;
}

/**/
h1{
	color: red;
}